.text-wrap {
  white-space: unset !important;
  text-wrap: wrap !important;
}

//This formats the adaptive detail row

#task-list {
  .dx-field-item-label {
    opacity: 0.6;
  }
  .dx-field-item-content {
    line-height: unset;
    padding: 0;
  }

  height: calc(100vh - 250px);

  .screen-x-small & {
    height: calc(100vh - 150px);
  }
}
